html {
    background-color: black;
    width: 100%;
}

.container-fluid
{
    color: whitesmoke;
    background-color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo
{
    padding: 0.5%;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.menu 
{
    display: flex;
}

#imagehome 
{
    margin-top: 1.5rem;
    width: 100%;
}

.textomain 
{
    margin: 1rem;
    width: 90;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-copyright
{
    color: gray;
    background-color: black;
}

#sobre 
{
    text-align: center;
    width: 75%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

#footer-space
{
    padding: 0.5%;
    padding-left: 1%;
}

.contato
{   
    padding-left: 25%;
    padding-top: 2%;
    width: 75%;
}

#carouselExampleIndicators
{
    margin-top: 5%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    width: 50%;
}