html {
    background-color: black;
    width: 100%;
}

.container-fluid
{
    color: white;
    background-color: darkslateblue;
    font-family: 'Times New Roman', Times, serif;
}

#titulo{
    font-size: 4rem;
    text-align: center;
}

.menu {
    display: flex;
}

#imagehome {
    width: 100%;
}

.textomain {
    margin: 1rem;
    width: 90;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#footer-network{
    background-color: darkslateblue;
}
.footer-copyright{
    color: white;
    background-color: black;
}